# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
media/
docs/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz


project_code.txt
read_py.py
1.py
manim_camera_explanation.py